<div class="dock">
<button>
    <i class="fa-solid fa-paw"></i>
    <span class="dock-label">習慣</span>
</button>

<button class="dock-active">
    <i class="fa-solid fa-calendar-days"></i>
    <span class="dock-label">カレンダー</span>
</button>

<button>
    <i class="fa-solid fa-book-open-reader"></i>
    <span class="dock-label">掲示板</span>
</button>

<button>
    <i class="fa-solid fa-user"></i>
    <span class="dock-label">ユーザー</span>
</button>
</div>